#canvas
{
  background-color: white;
}
section
{
  width: 700px;
  position: relative;
  margin: auto;
}
body
{
  background-color: black;
  background-image: url(https://images2.alphacoders.com/941/941898.jpg);
}
p
{
  width: 380px;
  position: relative;
  margin: auto;
  color: #000;
  font-size: 50px;
  font-family: 'verdana';
}

.grosor
{
  width: 42px;
  height: 42px;
  margin: auto;
  position: relative;
  left: 400px;
  top: 110px;
}

#grosor
{
  background-color: #D4D4D4;
}

p1
{
  margin: auto;
  position: relative;
  color: #000;
  font-size: 17px;
  font-family: 'verdana';
  font-weight:bold;
}

p2
{
  margin: auto;
  position: relative;
  color: #000;
  font-size: 17px;
  font-family: 'verdana';
  font-weight:bold;
}

.color
{
  width: 42px;
  height: 42px;
  margin: auto;
  position: relative;
  left: 400px;
  top: 250px;
}
